/* CSS */
:root {
   font-family: 'Inter', sans-serif;
   font-family: 'Manrope', sans-serif;
}
@supports (font-variation-settings: normal) {
   :root {
      font-family: 'Inter var', sans-serif;
      font-family: 'Manrope', sans-serif;
   }
}
body {
   background-color: #f1f3f5;
   transition: 0s;
}
* {
   transition: 0.3s ease-in;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
